Codes/*.py
Codes/*.sh
Codes/__pycache__
Data/*/*.xlsx
Data/*/*.abs
Data/*/*.pdf
Data/*/*.txt
Data/*/DataRaw
Data/*_BAD
Data/*/BAM
Data/*/BAMRAW/*cross*
Data/*/BAMRAW/*dep*
Data/*/BAMRAW/Test_ImageJ
Data/*/ABS
Data/*/BAM_ABS
AFM
Data/IMG
*.csv
*.xlsx
.vscode
Data/Old
Data/Compare
Data/tests_smallThrough
