.isotherm_data {
border-collapse: collapse;
width: 100%;
font-size:20px;
}

.isotherm_data td, .isotherm_data th {
border: 1px solid #ddd;
padding: 8px;
}

.isotherm_data tr:nth-child(even){background-color: #f2f2f2;}

.isotherm_data tr:hover {background-color: #ddd;}

.isotherm_data th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: #4CAF50;
color: white;
}