.isotherm_button a.button{

position: absolute;
    height: auto;
	width: 79%;
	padding: 30px;
    font-size: 15px;
	font-weight: bold;

}
.isotherm_button div.button{
	position: absolute;
    height: 100%;
	width: 100%;
    background: rgba(46, 123, 207, 0.8);
	transition: .5s ease;
}
.isotherm_button div.button:hover{
	    background: rgba(46, 123, 207, 0.5)
}
.isotherm_button img.button, .comparison-div img{
	position: absolute;
	height: inherit;
	width: 100%;
}
.isotherm_button h2.button{
	text-align: center;
}
.overlay{

display: inline-block;
	position: relative;
width: 30%;

    margin-bottom: 20px;
	margin-right: 5px;
	height:200px;
}

.comparison-div{

display: inline-block;
	position: relative;
width: 49%;

    margin-bottom: 20px;
	margin-right: 5px;
}

.comparison-div img{
	position: relative;
	height: inherit;
	width: 100%;
}


/********************/
/*Filter */
#suggestionsName{
    border: 1px solid #AAAAAA;
display: none;
    max-width: 200px;

margin-right: 6px;
margin-top: 1px;
margin-left: 45px;
font-size: 11px;
background: #fff;
    
}
#suggestionsName ul{
    width:100%;
    margin-left:0px;
    list-style-position: outside;
    list-style-type:none;
}

.suggestion_name{
    width:100%;
    margin-left:-5px;
}
.suggestion_name:hover{
    color:white;
background:#2879d0;
}


.isotherm-filter{
    margin-bottom:50px;
}
.RemoveButton{

  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.RemoveButton:hover, .submit {
  opacity: 1;
}
.RemoveButton:before, .RemoveButton:after {
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.submit{
    color:white;
      opacity: 0.7;
}
