.isotherm_button a.button{

position: absolute;
    height: auto;
	width: 79%;
	padding: 30px;
    font-size: 15px;
	font-weight: bold;

}
.isotherm_button div.button{
	position: absolute;
    height: 100%;
	width: 100%;
    background: rgba(46, 123, 207, 0.8);
	transition: .5s ease;
}
.isotherm_button div.button:hover{
	    background: rgba(46, 123, 207, 0.5)
}
.isotherm_button img.button{
	position: absolute;
	height: inherit;
	width: 100%;
}
.isotherm_button h2.button{
	text-align: center;
}
.overlay{

display: inline-block;
	position: relative;
width: 30%;

    margin-bottom: 20px;
	margin-right: 5px;
	height:200px;
}